extends ../layout
block body
  .row
    .col-md-3.center-block(style='float:none;')
      br
      br
      .well
        h3 Repo Github
        a(href="")
          | https://github.com/edades
        hr
        h3 Repo Bitbucket
        a(href="")
          | https://bitbucket.org/edadez


    <!-- Google Tag Manager -->
  noscript.
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PK64CB" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PK64CB');

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59379044-1', 'auto');
    ga('send', 'pageview');