extends ../layout
block body
  .row
    .col-md-3.center-block(style='float:none;')
      br
      br
      .well
        h3 Cuenta Número
        h4 0-000-66-30694-1
        hr
        h3 Banco Santander
        h4 Cuenta Corriente
        br
        hr
        h3 Roberto Dote
        h4 17374052-2
        h4 edades@gmail.com