extends ./layout
block body
  .container
    .row
      .col-md-12
        include sidebar.jade
        .col-md-9.col-sm-9
          h3(class="text-center") edades@gmail.com
          img.center-block(src='/images/dev.gif')

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59379044-1', 'auto');
    ga('send', 'pageview');