doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    // STYLES
    link(rel="stylesheet", href="/styles/style.css")
    // STYLES END

    block styles

  body(ng-app='edades')
    block body
    script(src="http://code.jquery.com/jquery-1.11.2.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/app.js")
    script(src="/js/bootstrap/affix.js")
    script(src="/js/bootstrap/alert.js")
    script(src="/js/bootstrap/button.js")
    script(src="/js/bootstrap/carousel.js")
    script(src="/js/bootstrap/collapse.js")
    script(src="/js/bootstrap/dropdown.js")
    script(src="/js/bootstrap/modal.js")
    script(src="/js/bootstrap/scrollspy.js")
    script(src="/js/bootstrap/tab.js")
    script(src="/js/bootstrap/transition.js")
    // SCRIPTS END
