
a(href="/",style="color:black;")
  h1.pull-left  - edades 🌴 -

//- MENU MOBILE
nav.navbar.navbar-default.visible-xs
  .navbar-header
    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#nbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #nbar.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        h3
          a.text-info(href="/web") Web
      li
        h3
          a.text-primary(href="/mobile") Mobile
      li
        h3
          a.text-success(href="/labs") Labs
      li
        ul.list-inline
          li
            a(href='http://cl.linkedin.com/in/robdot/')
              i.fa.fa-linkedin.text-info
          li
            a(href='https://angel.co/roberto-dote')
              i.fa.fa-angellist
          li
            a(href='https://soundcloud.com/edades')
              i.fa.fa-soundcloud.text-danger
  //- /MENU MOBILE

.col-md-12.col-sm-12.col-xs-12
  hr
.col-md-3.col-sm-3
  .hidden-xs
    h2 Skills
    hr
    h3
      a.text-info(href="/web") Web
    h3
      a.text-primary(href="/mobile") Mobile
    h3
      a.text-success(href="/labs") Labs
    ul.list-inline
      li
        a(href='http://cl.linkedin.com/in/robdot/')
          i.fa.fa-linkedin.text-info
      li
        a(href='https://angel.co/roberto-dote')
          i.fa.fa-angellist
      li
        a(href='https://soundcloud.com/edades')
          i.fa.fa-soundcloud.text-danger
