extends ../layout
block body
  .container
    .row
      .col-md-12
        include ../sidebar.jade
        .col-md-9.col-sm-9
          h1 Innovation and fresh ideas
          br
          i Maker (I + D + D)
          br
          i StartUp lover 🚀