extends ../layout
block body
  .container
    .row
      .col-md-12
        include ../sidebar.jade
        .col-md-9.col-sm-9
          h1 Nice Mobile Development
          br
          i Objective-C - Swift (iOS)
          br
          i Cordova - Ionic (iOS + Android)
          br
          i CoronaLabs (CoronaSDK)