extends ../layout
block body
  .container
    .row
      .col-md-12
        include ../sidebar.jade
        .col-md-9.col-sm-9
          h1 Agile Web Development
          br
          i Angular JS - Sails JS - PHP - JQuery
          br
          i MySQL - MongoDB
          br
          i HTML5 - CSS3 - Bootstrap - Foundation - Stylus
          br
          i Wordpress

